# SPDX-License-Identifier: Apache-2.0
---
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never

PointerAlignment: Left
DerivePointerAlignment: false
ReferenceAlignment: Left

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterControlStatement: Never
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

FixNamespaceComments: true
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
